.vscode/
.DS_Store
Thumbs.db
.venv/
venv/
__pycache__/
*.pyc
*.pyo
.env
.env.local
*.csv
*.txt
*.tfrecord
*.vtt
*.jpg
*.jpeg
*.png
*.json

data/TikTok/tiktok_thumbnails/
data/TikTok/tiktok_transcripts_out/
data/Youtube/yt8m/
data/Youtube/yt8m_json/
